
/* Name Edit*/
.createForm {
    display: block;
    width: 300px;
    margin: auto;
}

/*   create brande   */

.success {
    color: green;
    text-align: center;
    margin: 20px auto;
    display: block;
}

.failed {
    color: red;
    text-align: center;
    margin: 20px auto;
    display: block;
}

.create-title{
    margin: auto auto 40px auto;
    width: 300px;
    text-decoration: underline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.left{
    float: left;
}
.right{
    float: right;
}

.model-tumbnail{
    margin: 10px 0 0 10px;
    /*min-height: 210px;*/
}

.admin-image{
    max-height: 70px;
    margin-bottom: 10px
}

.sub-menu li{
    padding: 0 0 0 40px;
}
/* End Nave Edit*/