.createForm {
    display: block;
    width: 300px;
    margin: auto;
}

/*   create brande   */

.success {
    color: green;
    text-align: center;
    margin: 20px auto;
    display: block;
}

.failed {
    color: red;
    text-align: center;
    margin: 20px auto;
    display: block;
}